{% extends "master.html" %}

{% block body %}
<div class="middleBody">
<h1>Welcome to the world of stories</h1>
<hr>

<blockquote>
<p><i>
I wanted a perfect ending. Now I've learned, the hard way,
that some poems don't rhyme, and some stories don't have a clear beginning,
middle, and end. Life is about not knowing, having to change, taking the moment
and making the best of it, without knowing what's going to happen next.
Delicious Ambiguity.</i>
<footer>Gilda Radner</footer>
</blockquote>

<p style="font-size:120%">Where will the next story take you? In this place, people cooperate to work
out the "perfect" path of their stories. Everyone can read and edit everyone else's story. What will happen next in the story? Who knows? <br><br>
Want to start exploring? Click on "Stories" to see existing stories and sign
up to create your own or edit the work of others!</p>
<br>
<p><b>Sign up</b> with us in order to be able to edit stories, start your
own stories, save favorites, and browse them later on your home page. If you want to add to a story, click on it, press <b>continue</b>,
and add your sentence. Then wait, and see how other people work off of your ideas.</p>
<br>
</div>
{% endblock %}
