{% extends "master.html" %}

{% block body %}

<div class="middleBody">
  <h3>Browse</h3>
  <p align="right" style="margin-top:-40px;">
    <a href="/create" class="btn btn-success">Create +</a>
    </button>
  </p>
  {% for story in stories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/browse/stories/{{story[0]}}">
                {{story[1]}}
            </a>
        </div>
        <div class="panel-body">{{story[2]}}</div>
    </div>
  {% endfor %}
  {% if pages > 1 %}
  <ul class="pagination">
      {% for p in range(1,pages+1) %}
      <li
      {% if p is sameas current %}
      class="active"
      {% endif %}
      ><a href="/browse/{{p}}">{{p}}</a></li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}
