{% extends "master.html" %}

{% block body %}

<div class="middleBody">


  {% if edit %}
  {% if err %}
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Edit Failed!</strong> Sorry, someone else is editing this right now, please try again later.
</div>

  {% endif %}
  
  <h3>{{ d["title"]|safe }}</h3>
    <div class="dropdown pull-right" style="margin-top:-40px;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Contributors
      <span class="caret"></span></button>
      <ul class="dropdown-menu" align="right">
          {% for author in d["authors"] %}
              <li class="list-group-item">{{ author[0]|safe }}</li>
          {% endfor %}
      </ul>
    </div>
  <br>
  <p>{{ d["story"]|safe }}</p>
  <br>
  <a href="/edit/{{id}}" class="btn btn-info" role="button">Continue</a>
{% else %}

  <h3>Stories</h3>
  <p align="right" style="margin-top:-40px;">
    <a href="/create" class="btn btn-success">Create +</a>
    </button>
  </p>
  {% for story in stories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/browse/stories/{{story[0]}}">
                {{story[1]|safe}}
            </a>
            <form method="POST" action="/favorite">
                <input type="hidden" name="storyid" value="{{story[0]}}">
                <button type="submit" class="pull-right" data-toggle="tooltip"
                                                         title="favorite/unfavorite"
                    style="margin-top:-23px;">
                    <img width="20px" 
                         {% if story[3] %}
                            src="/static/star-filled.png"
                         {% else %}
                            src="/static/star-empty.png"
                         {% endif %}
                    >
                </button>
            </form>
        </div>
        <div class="panel-body">{{story[2]|safe}}</div>
    </div>
  {% endfor %}
 
  {% if pages > 1 %}
  <ul class="pagination">
      {% for p in range(1,pages+1) %}
      <li
      {% if p is sameas current %}
      class="active"
      {% endif %}
      ><a href="/browse/{{p}}">{{p}}</a></li>
      {% endfor %}
  </ul>
  {% endif %}

  {% endif %}

</div>

{% endblock %}
