{% extends "master.html" %}

{% block body %}

<div class="middleBody">
  <h3>Browse</h3>
  <p align="right" style="margin-top:-40px;">
    <a href="/create" class="btn btn-success">Create +</a>
    </button>
  </p>
  {% for story in stories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/browse/stories/{{story[0]}}">
                {{story[1]|safe}}
            </a>
        </div>
        <div class="panel-body">{{story[2]|safe}}</div>
    </div>
  {% endfor %}
 
  {% if pages > 1 %}
  <ul class="pagination">
      {% for p in range(1,pages+1) %}
      <li
      {% if p is sameas current %}
      class="active"
      {% endif %}
      ><a href="/browse/{{p}}">{{p}}</a></li>
      {% endfor %}
  </ul>
  {% endif %}

  {% if edit %}
  
  <h3>{{ d["title"]|safe }}</h3>
    <div class="dropdown pull-right" style="margin-top:-40px;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Contributors
      <span class="caret"></span></button>
      <ul class="dropdown-menu" align="right">
          {% for author in d["authors"] %}
              <li class="list-group-item">{{ author[0]|safe }}</li>
          {% endfor %}
      </ul>
    </div>
  <br>
  <p>{{ d["story"]|safe }}</p>

  {% endif %}

</div>

{% endblock %}
