{% extends "master.html" %}

{% block body %}

<h1>Welcome to the world of stories</h1>
<hr>
<p align="right" style="font-family:verdana" style="font-size:300%"><i>
I wanted a perfect ending. Now I've learned, the hard way, 
that some poems don't rhyme, and some stories don't have a clear beginning, 
middle, and end.<br>Life is about not knowing, having to change, taking the moment 
and making the best of it, without knowing what's going to happen next. 
Delicious Ambiguity.</i><br>-Gilda Radner</p>

{% endblock %}
