{% extends "master.html" %}

{% block body %}

<div class="middleBody">
<h3>Log In</h2>
{% if err %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Login Failed!</strong> {{err}}
</div>
{% endif %}

<form method="POST" role="form">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Username" id="username">
    </div>

    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="password" id="password">
    </div>
    <button type="submit" class="btn btn-default">Log in</button>
</form>

</div>

{% endblock %}
